.container {
  padding-top: rem(30px);
}

.createRuleButton {
  padding-bottom: rem(20px);
}

.noRulesText {
  padding-top: rem(100px);
}

.accordion {
  max-width: rem(1000px);
  margin: 0 auto;
}

.divider {
  padding-bottom: rem(15px);
}
