.container {
  padding-top: rem(30px);
}

.title {
  padding-bottom: rem(30px);
}

.sessionCard {
  cursor: pointer;
  width: rem(300px);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }
}
