<style>
    table, th, td {
        border: 1px solid;
        border-collapse: collapse;
    }

    table {
        width: 100%;
        max-width: 600px;
    }

    th, td {
        padding: 5px 5px;
    }
</style>
<body>
<div>
    Dear {{ if .CreatorInfo.Name }}{{ .CreatorInfo.Name }}{{ else }}{{ .CreatorInfo.Email }}{{ end }},
    <br/><br/>
    Today's automated attendance rule checking is complete.
    <br/><br/>
    The report for each of your rules are shown below.
    <br/><br/>
</div>
<div>
    {{ range .RuleAndUsers }}
    <table>
        <tr>
            <th colspan="3">
                [{{ .Rule.ClassCode }}, {{ .Rule.ClassYear }}/{{ .Rule.ClassSemester }}] {{ .Rule.Title }}
            </th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {{ range .FailedUsers }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ or .Name "<No name registered>" }}</td>
            <td>{{ or .Email "<No email registered>" }}</td>
        </tr>
        {{ end }}
    </table>
    <br/>
    {{ end }}
</div>
<div>
    The students have also been contacted by OAMS regarding their failure to meet your defined rules.
    You may wish to personally contact them to take follow-up actions.
    <br/><br/>
    Have a nice day.
    <br/><br/>
    OAMS
</div>
</body>